@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;600;700&display=swap');

*{
    font-family: 'poppins';
}
body {
    margin: 0px;
    background-color: #f6f5f5;
}

.header {
    
    box-shadow: 0px 0px 7px #cbcbcb;
    width: 100%;
    position: fixed;
    padding: 22.432px 22.432px 15px 22.432px;
    background: inherit;
}

.alcovex-logo {
    width: 153.450px;
}

.btn {
    margin-right: 44.850px;
    position: relative;
    float: right;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 0.25rem;
    font-family: poppins;
    color: #1688a7;
    font-size: 1rem;
    background: #f6f5f5;
    padding: 6px 13px 6px 12px;
    border: solid #1687a7 1px;
    text-decoration: none;
    width: 98.150px;
  }
  
  .btn:hover {
    color: #f6f5f5;
    background: #1687a7;
    text-decoration: none;
  }

  .logo {
    float: right;
    width: 335px;
    padding-right: 178px;
    padding-top: 170px;
    padding-left: 146px;
  }

  .build {
    color: #1687a7;
    margin: 0px;
    text-align: left;

  }

  h1 {
    font-size: 68px;
    padding-left: 111px;
    margin: 0;
    padding-top: 120px;
  }
  
  p {
    margin-top: 14px;
    color: #276678;
    font-size: 26px;
    padding-top: 0px;
    padding-left: 111px;
  }

  .btn2 {
    margin-left: 112px;
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family:'poppins';
    color: #f6f5f5;
    font-size: 20px;
    background: #1687a7;
    padding: 9px 16px 9px 16px;
    border: solid #1687a7 1px;
    text-decoration: none;
  }
  
  .btn2:hover {
    color: #1687a7;
    background: #f6f5f5;
    text-decoration: none;
  }

  .line1 {
    width: 85%;
    margin-top: 69px;
    opacity: 0.25;
    border-top: 1px solid;
    border-radius: 2px;
    color: #1687a7;
  }

  .ib {
    float: right;
    width: 616px;
    margin-right: 126px;
    margin-top: 77px;
    margin-left: 130px;
  }

  h2 {
    font-size: 26px;
    margin-top: 163px;
    margin-left: 112px;
  }

  .text {
    font-size: 16px;
  }

  .btn3 {
    margin-left: 111px;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 0.25rem;
    font-family: poppins;
    color: #1688a7;
    font-size: 1rem;
    background: #f6f5f5;
    padding: 6px 13px 6px 12px;
    border: solid #1687a7 1px;
    text-decoration: none;
    width: 98.150px;
  }
  
  .btn3:hover {
    color: #f6f5f5;
    background: #1687a7;
    text-decoration: none;
  }

  .build1 {
    color: #1687a7;
    margin: 0px;
    text-align: right;
    margin-right: 112px;
    margin-top: 290px;

  }

  .datatrove {
    width: 597px;
    margin-left: 134px;
    margin-top: 81px;
    margin-right: 136px;
    float: left;
  }

  .btn4 {
    margin-left: 111px;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 0.25rem;
    font-family: poppins;
    color: #1688a7;
    font-size: 1rem;
    background: #f6f5f5;
    padding: 6px 13px 6px 12px;
    border: solid #1687a7 1px;
    text-decoration: none;
    width: 98.150px;
  }
  
  .btn4:hover {
    color: #f6f5f5;
    background: #1687a7;
    text-decoration: none;
  }

  .line2 {
    width: 85%;
    margin-top: 186px;
    opacity: 0.25;
    border-top: 1px solid;
    border-radius: 2px;
    color: #1687a7;
  }

  .text1 {
    font-size: 16px;
    margin-right: 150px;
  }

  .btn5 {
    margin-left: 111px;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 0.25rem;
    font-family: poppins;
    color: #1688a7;
    font-size: 1rem;
    background: #f6f5f5;
    padding: 6px 13px 6px 12px;
    border: solid #1687a7 1px;
    text-decoration: none;
    width: 98.150px;
  }
  
  .btn5:hover {
    color: #f6f5f5;
    background: #1687a7;
    text-decoration: none;
  }

  .build2 {
    color: #1687a7;
    margin: 0px;
    text-align: left;
    margin-top: -89px;
  }

  .btn6 {
    margin-left: 111px;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 0.25rem;
    font-family: poppins;
    color: #1688a7;
    font-size: 1rem;
    background: #f6f5f5;
    padding: 6px 13px 6px 12px;
    border: solid #1687a7 1px;
    text-decoration: none;
    width: 98.150px;
  }
  
  .btn6:hover {
    color: #f6f5f5;
    background: #1687a7;
    text-decoration: none;
  }

  .text2 {
    font-size: 16px;
    margin-right: 127px;
  }

  .build3 {
    color: #1687a7;
    margin: 0px;
    text-align: left;
    margin-top: -99px;
    margin-bottom: 51px;
  }

  .footer {
    
    box-shadow: 0px 0px 7px #cbcbcb;
    width: 1474px;
    position: 0;
    padding: 34.432px 22.432px 36px 22.432px;

}

.foot {
    margin-top: 1px;
    margin-bottom: 5px;
    color: #276678;
    font-size: 16px;
    padding-top: 0px;
    padding-left: 0px;
}

.btn7 {
    bottom: 38px;
    margin-right: -6.149999999999999px;
    position: relative;
    float: right;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 0.25rem;
    font-family: poppins;
    color: #1688a7;
    font-size: 19px;
    background: #f6f5f5;
    padding: 1px 12px 4px 14px;
    border: solid #1687a7 1px;
    text-decoration: none;
    width: 11.150000000000006px;
  }
  
  .btn:hover {
    color: #f6f5f5;
    background: #1687a7;
    text-decoration: none;
  }